<!DOCTYPE html>
<html>
<body>

<h2>Password Generator<span class="cursor">_</span></h2>

  <form action="/" method="get">
  <input type="hidden" name="generate" value="true">
  <button type="submit">generate</button>
    <%= secure_random_letter %>
</form>

<%= @parsed_response.keys %>

  </body>
</html>
