<!DOCTYPE html>
<html>
<body>

<h2>Password Generator</h2>

<form action="/password_generator">
  <input type="number" id="length" name="length">
  <label for="vehicle1"> length_of_password </label><br>
  
  <input type="checkbox" id="numbers" name="numbers">
  <label for="vehicle1"> contains_numbers </label><br>

  <input type="checkbox" id="letters" name="letters">
  <label for="vehicle1"> contains_letters </label><br>

  <input type="checkbox" id="special_characters" name="special_characters">
  <label for="vehicle1"> contains_special_characters </label><br>

  <input type="checkbox" id="case_sensative" name="case_sensative">
  <label for="vehicle1"> case_sensative </label><br>
<br>
  <button>generate_something_for_me</button>

</form> 

  </body>
</html>
